package com.loser.module.#<module>.vo.resp;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
 * #<modelDesc>详情返回值
 *
 * @author #<author>
 * @date #<genDate>
 */
@Data
@ApiModel("#<modelDesc>详情返回值")
public class #<modelName>InfoResp {

forApi
}