package com.loser.module.#<module>.vo.req;

import com.loser.common.entity.CommonPage;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;


/**
 * #<modelDesc>分页请求参数
 *
 * @author #<author>
 * @date #<genDate>
 */
@Data
@ApiModel("#<modelDesc>分页请求参数")
public class #<modelName>PageReq extends CommonPage {

forApi
}