package com.loser.module.#<module>.entity;

import lombok.Data;
import org.springframework.data.annotation.Id;

/**
 * #<modelDesc> 实体
 *
 * @author #<author>
 * @date #<genDate>
 */
@Data
public class #<modelName> {

forModel
}
