package com.loser.module.#<module>.service.impl;

import com.loser.core.impl.MogoServiceImpl;
import com.loser.module.#<module>.entity.#<modelName>;
import com.loser.module.#<module>.service.#<modelName>Service;
import org.springframework.stereotype.Service;

/**
 * #<modelDesc> 服务类
 *
 * @author #<author>
 * @date #<genDate>
 */
@Service
public class #<modelName>ServiceImpl extends MogoServiceImpl<#<idType>, #<modelName>> implements #<modelName>Service {

}
